<a href="https://colab.research.google.com/github/kiat/MET-CS777/blob/master/Colab_Spark_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://mirror.cc.columbia.edu/pub/software/apache/spark/spark-3.0.0-preview2/spark-3.0.0-preview2-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-preview2-bin-hadoop2.7.tgz
!pip install -q findspark
!rm -rf spark-3.0.0-preview2-bin-hadoop2.7.tgz

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-preview2-bin-hadoop2.7"

import findspark
findspark.init("spark-3.0.0-preview2-bin-hadoop2.7")# SPARK_HOME

from pyspark.sql import SparkSession
from pyspark import SparkContext

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()

In [5]:
ls -lah

total 20K
drwxr-xr-x  1 root      root 4.0K Feb 10 22:27 ./
drwxr-xr-x  1 root      root 4.0K Feb 10 22:26 ../
drwxr-xr-x  1 root      root 4.0K Feb  7 17:12 .config/
drwxr-xr-x  1 root      root 4.0K Feb  5 18:37 sample_data/
drwxr-xr-x 13 110302528 1000 4.0K Dec 17 03:48 spark-3.0.0-preview2-bin-hadoop2.7/

In [6]:
ls -la sample_data

total 55516
drwxr-xr-x 1 root root     4096 Feb  5 18:37 ./
drwxr-xr-x 1 root root     4096 Feb 10 22:27 ../
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json*
-rw-r--r-- 1 root root   301141 Feb  5 18:37 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Feb  5 18:37 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Feb  5 18:37 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Feb  5 18:37 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md*

In [3]:
rdd1 = sc.parallelize(range(1, 10))
rdd1.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
californiaHousing = sc.textFile("./sample_data/california_housing_test.csv")
californiaHousing.take(2)

['"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"',
 '-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000']