<a href="https://colab.research.google.com/github/kiat/BigDataAnalytics/blob/master/Colab_Spark_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
# Spark installation on Colab
# !apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
!pip install -q findspark
!rm -rf spark-3.0.0-bin-hadoop3.2.tgz

In [ ]:
# Set JAVA_HOME and SPARK_HOME
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "spark-3.0.0-bin-hadoop3.2"

import findspark
findspark.init("spark-3.0.0-bin-hadoop3.2")# SPARK_HOME


import sys
import requests
from operator import add

from pyspark import SparkConf,SparkContext
from pyspark.streaming import StreamingContext

from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

from pyspark.sql.types import *
from pyspark.sql import functions as func
from pyspark.sql.functions import *

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()
sqlContext = SQLContext(sc)

In [6]:
ls -lah

total 20K
drwxr-xr-x  1 root root 4.0K Aug  8 04:07 ./
drwxr-xr-x  1 root root 4.0K Aug  8 03:47 ../
drwxr-xr-x  1 root root 4.0K Aug  3 16:17 .config/
drwxr-xr-x  1 root root 4.0K Jul 30 16:30 sample_data/
drwxr-xr-x 13 1000 1000 4.0K Jun  6 13:34 spark-3.0.0-bin-hadoop3.2/

In [7]:
ls -la sample_data

total 55512
drwxr-xr-x 1 root root     4096 Jul 30 16:30 ./
drwxr-xr-x 1 root root     4096 Aug  8 04:07 ../
-rwxr-xr-x 1 root root     1697 Jan  1  2000 anscombe.json*
-rw-r--r-- 1 root root   301141 Jul 30 16:30 california_housing_test.csv
-rw-r--r-- 1 root root  1706430 Jul 30 16:30 california_housing_train.csv
-rw-r--r-- 1 root root 18289443 Jul 30 16:30 mnist_test.csv
-rw-r--r-- 1 root root 36523880 Jul 30 16:30 mnist_train_small.csv
-rwxr-xr-x 1 root root      930 Jan  1  2000 README.md*

In [8]:
rdd1 = sc.parallelize(range(1, 10))
rdd1.collect()

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [9]:
californiaHousing = sc.textFile("./sample_data/california_housing_test.csv")
californiaHousing.take(2)

['"longitude","latitude","housing_median_age","total_rooms","total_bedrooms","population","households","median_income","median_house_value"',
 '-122.050000,37.370000,27.000000,3885.000000,661.000000,1537.000000,606.000000,6.608500,344700.000000']