<a href="https://colab.research.google.com/github/kiat/MET-CS777/blob/master/Colab_SocialMedia_Example_Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Install spark
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://mirror.cc.columbia.edu/pub/software/apache/spark/spark-3.0.0-preview2/spark-3.0.0-preview2-bin-hadoop2.7.tgz
!tar xf spark-3.0.0-preview2-bin-hadoop2.7.tgz
!pip install -q findspark
!rm -rf spark-3.0.0-preview2-bin-hadoop2.7.tgz

In [0]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-preview2-bin-hadoop2.7"

import findspark
findspark.init("spark-3.0.0-preview2-bin-hadoop2.7")# SPARK_HOME

from pyspark.sql import SparkSession
from pyspark import SparkContext


import sys
from operator import add

from pyspark import SparkContext
from pyspark import SparkConf,SparkContext
from pyspark.streaming import StreamingContext
import sys
import requests
from operator import add

from pyspark.sql.types import *
from pyspark.sql import functions as func

from pyspark.sql.functions import lit
from pyspark.sql.functions import udf
from pyspark.sql.functions import *
from pyspark.sql.functions import array

from pyspark.sql import SQLContext

spark = SparkSession.builder.master("local[*]").getOrCreate()
sc = SparkContext.getOrCreate()

sqlContext = SQLContext(sc)

In [0]:
# Download the data
! wget -q https://s3.amazonaws.com/metcs777/person_knows_person.csv
! wget -q https://s3.amazonaws.com/metcs777/person_likes_post.csv
! wget -q https://s3.amazonaws.com/metcs777/post_hasCreator_person.csv
! wget -q https://s3.amazonaws.com/metcs777/comment_hasCreator_person.csv
! wget -q https://s3.amazonaws.com/metcs777/comment_replyOf_post.csv

In [4]:
! ls -la

total 33572
drwxr-xr-x  1 root      root     4096 Apr 30 04:54 .
drwxr-xr-x  1 root      root     4096 Apr 30 04:52 ..
-rw-r--r--  1 root      root  7398677 Dec 12  2018 comment_hasCreator_person.csv
-rw-r--r--  1 root      root  3392677 Dec 12  2018 comment_replyOf_post.csv
drwxr-xr-x  1 root      root     4096 Apr 27 16:13 .config
-rw-r--r--  1 root      root   232246 Dec 12  2018 person_knows_person.csv
-rw-r--r--  1 root      root 21372777 Dec 12  2018 person_likes_post.csv
-rw-r--r--  1 root      root  1950946 Dec 12  2018 post_hasCreator_person.csv
drwxr-xr-x  1 root      root     4096 Apr  3 16:24 sample_data
drwxr-xr-x 13 110302528 1000     4096 Dec 17 03:48 spark-3.0.0-preview2-bin-hadoop2.7

In [5]:
pwd

'/content'

In [0]:
# Set your file path here 
path="file:///content/"

# You have 5 files 

# comment_hasCreator_person.csv
# comment_replyOf_post.csv
# person_knows_person.csv
# person_likes_post.csv
# post_hasCreator_person.csv

fileCommentHasCreator= path+"comment_hasCreator_person.csv"
fileComment_replyOf_post = path+"comment_replyOf_post.csv"
filePerson_knows_person= path+"person_knows_person.csv"
filePerson_likes_post = path + "person_likes_post.csv"
filePost_hasCreator_person = path + "post_hasCreator_person.csv"

#Create RDDs

In [0]:
def getRDD(mfile, sc):
		lines = sc.textFile(mfile)
		# Removing the Header Line 
		linesHeader = lines.first()
		header = sc.parallelize([linesHeader])
		linesWithOutHeader = lines.subtract(header)
		myRDD = linesWithOutHeader.map(lambda x: x.split('|'))
		return myRDD

In [0]:
	# Create RDDs from files 
	commentHasCreator = getRDD(fileCommentHasCreator, sc)
	comment_replyOf_post = getRDD(fileComment_replyOf_post, sc)
	person_knows_person = getRDD(filePerson_knows_person, sc)
	person_likes_post = getRDD(filePerson_likes_post, sc)
	post_hasCreator_person = getRDD(filePost_hasCreator_person, sc)

In [11]:
commentHasCreator.take(1)

[['30', '457']]

# Create Dataframes

In [13]:
commentHasCreatorDD = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load(fileCommentHasCreator)
comment_replyOf_postDD = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load(fileComment_replyOf_post)
person_knows_personDD = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load(filePerson_knows_person)
person_likes_postDD = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load(filePerson_likes_post)
post_hasCreator_personDD = sqlContext.read.format('csv').options(header='true', inferSchema='true',  sep ="|").load(filePost_hasCreator_person)

+----------+---------+
|Comment.id|Person.id|
+----------+---------+
|         0|       74|
|        10|      832|
|        20|      913|
|        30|      457|
|        40|      956|
|        50|       41|
|        60|      453|
|        70|      832|
|        80|        6|
|        90|        6|
|       100|      103|
|       110|      547|
|       120|      962|
|       130|       99|
|       140|      452|
|       150|       99|
|       160|        6|
|       170|       48|
|       180|      941|
|       190|       40|
+----------+---------+
only showing top 20 rows

In [15]:
commentHasCreatorDD.show()
comment_replyOf_postDD.show()
person_knows_personDD.show()
person_likes_postDD.show()
post_hasCreator_personDD.show()

+----------+---------+
|Comment.id|Person.id|
+----------+---------+
|         0|       74|
|        10|      832|
|        20|      913|
|        30|      457|
|        40|      956|
|        50|       41|
|        60|      453|
|        70|      832|
|        80|        6|
|        90|        6|
|       100|      103|
|       110|      547|
|       120|      962|
|       130|       99|
|       140|      452|
|       150|       99|
|       160|        6|
|       170|       48|
|       180|      941|
|       190|       40|
+----------+---------+
only showing top 20 rows

+----------+-------+
|Comment.id|Post.id|
+----------+-------+
|         0|      0|
|        10|      0|
|        30|      0|
|        70|      0|
|       100|     10|
|       110|     10|
|       140|     10|
|       150|     10|
|       180|     10|
|       240|     20|
|       250|     20|
|       330|     20|
|       340|     30|
|       350|     30|
|       420|     30|
|       470|     40|
|       480|     40|
|       510|     40|
|       560|     40|
|       660|     50|
+----------+-------+
only showing top 20 rows

+----------+----------+
|Person.id0|Person.id1|
+----------+----------+
|        38|       956|
|        38|       962|
|        38|       941|
|        38|        74|
|        38|        36|
|        38|        53|
|        38|        48|
|        38|        29|
|        38|        46|
|        38|        40|
|        38|        60|
|        38|        31|
|        38|        41|
|        38|         6|
|        38|         4|
|        38|       547|
|        38|       832|
|        38|       129|
|        38|       915|
|        38|       921|
+----------+----------+
only showing top 20 rows

+---------+-------+--------------------+
|Person.id|Post.id|        creationDate|
+---------+-------+--------------------+
|       74|      0|2012-10-15T05:13:41Z|
|       36|      0|2012-10-18T10:51:39Z|
|      417|     10|2012-11-18T11:14:47Z|
|      415|     10|2012-11-20T06:30:22Z|
|      109|     10|2012-11-19T11:03:52Z|
|      119|     10|2012-11-16T09:07:14Z|
|       70|     10|2012-11-19T04:53:43Z|
|       47|     20|2012-10-23T03:32:14Z|
|      378|     20|2012-10-25T01:03:21Z|
|      643|     20|2012-10-18T11:45:28Z|
|      592|     20|2012-10-18T06:02:36Z|
|      576|     20|2012-10-21T02:23:03Z|
|      606|     20|2012-10-24T01:03:00Z|
|      724|     20|2012-10-23T00:17:38Z|
|      672|     20|2012-10-24T04:32:12Z|
|      711|     20|2012-10-22T04:38:54Z|
|      915|     30|2012-06-22T09:10:46Z|
|      921|     30|2012-06-19T03:22:50Z|
|      507|     30|2012-06-23T07:15:14Z|
|      501|     30|2012-06-23T00:34:27Z|
+---------+-------+--------------------+
only showing top 20 rows

+-------+---------+
|Post.id|Person.id|
+-------+---------+
|      0|       38|
|     10|       38|
|     20|       38|
|     30|       38|
|     40|       38|
|     50|       38|
|     60|       38|
|     70|       38|
|     80|       38|
|     90|       38|
|    100|       38|
|    110|       38|
|    120|       38|
|    130|       38|
|    140|       38|
|    150|       38|
|    160|       38|
|    170|       38|
|    180|       38|
|    190|       38|
+-------+---------+
only showing top 20 rows